<script>
<%= if current_user.code != "" 
       current_user.household_id = User.where(household_name: current_user.household_name).first.household_id
       current_user.role = "Roommate"
       current_user.save 
    else
       current_user.role = "Household Owner"
       current_user.save
    end %>

<%-#=   puts "\n\n\n\n\n\n #{current_user.household_id} \n\n\n\n\n" %>
</script>

<%= render "shared/navbars" %>
<div class="container">
  <div class="row">
  <%= render "shared/sidebar" %>

    <div class="col-md-10">
      <div id="midCol" data-spy="affix" data-offset-top="300">
        <div><h2>Household: <%=current_user.household.name%></h2></div>
        <div><h2>Household Code: <%= current_user.household.code%></h2></div>

        <div class="well">
          <h3>Accepted Chores </h3>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Chore</th>
              <th>Requested By</th>
              <th>Due Date</th>
            </tr>
            </thead>
            <tbody>
            
            <% @chores = Chore.all %>
            <% @chores.each do |chore| %>
            <% if chore.assignee_id == current_user.id %>
            <tr> 
              <td><%= chore.name %></td>
              <td><%= chore.requestor %></td>
              <td><%= chore.status %></td>
            </tr>
            <% end %>
            <% end %>
            <!--< end %>-->
            </tbody>
          </table>
        </div>

        <div class="well">
          <h3>Unpaid Bills</h3>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Bill</th>
              <th>Amount</th>
              <th>Due Date</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Rent</td>
              <td>$375.00</td>
              <td>2016-12-29 23:59:59 UTC</td>
            </tr>
            <tr>
              <td>Utilities</td>
              <td>$86.34</td>
              <td>2016-12-29 23:59:59 UTC</td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="well">
          <h3>Unbought Groceries</h3>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Item</th>
              <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <% gllist = GroceryList.where(user_id: current_user.id) %>
              <% @groceries = GroceryItem.where(grocery_list_id: gllist).all %>
              <% @groceries.each do |item| %>
              
                <tr> 
                  <td><%= item.name %></td>
                  <td><%= item.amount %></td>
                </tr>
              
              <% end %>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

  </div>
</div>
