<script>
<%= if current_user.code != "" 
       current_user.household_id = User.where(household_name: current_user.household_name).first.household_id  
       current_user.save 
    end %>
<%=   puts "\n\n\n\n\n\n #{current_user.household_id} \n\n\n\n\n" %>
</script>

<%= render "shared/navbars" %>
<div class="container">
  <div class="row">
  <%= render "shared/sidebar" %>

    <div class="col-md-10">
      <div id="midCol" data-spy="affix" data-offset-top="300">
        <div><h2><%=current_user.household.name%></h2></div>

        <div class="well">
          <h3>Upcoming Chores <%= current_user.household.code %></h3>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Chore</th>
              <th>Requested By</th>
              <th>Due Date</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Chore Name</td>
              <td>Requester</td>
              <td>MM/DD</td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="well">
          <h3>Unpaid Bills</h3>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Bill</th>
              <th>Amount</th>
              <th>Due Date</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Bill Name</td>
              <td>$$$</td>
              <td>MM/DD</td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="well">
          <h3>Unbought Groceries</h3>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Item</th>
              <th>Amount</th>
              <th>List</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Grocery</td>
              <td>XX</td>
              <td>List</td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

  </div>
</div>
