<%= render "shared/navbars" %>
<div class="container">
  <div class="row">
    <%= render "shared/sidebar" %>

    <div class="col-md-10">
      <div id="midCol" data-spy="affix" data-offset-top="300">

        <div>
          <h2>Groceries</h2>
          <%= link_to 'Add Grocery Item', new_grocery_item_path %>
        </div>

        <div class="well">
          <h3>My Groceries</h3>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Item</th>
              <th>Amount</th>
            </tr>
            </thead>

            <tbody>
              <% gllist = GroceryList.where(user_id: current_user.id) %>
              <% @groceries = GroceryItem.where(grocery_list_id: gllist).all %>
              <% @groceries.each do |item| %>
              
                <tr> 
                  <td><%= item.name %></td>
                  <td><%= item.amount %></td>
                </tr>
                
              <% end %>
           
            </tbody>

          </table>
        </div>
        
        </div>

      </div>
    </div>
  </div>
</div>