<%= render "shared/navbars" %>
<div class="container">
  <div class="row">
    <%= render "shared/sidebar" %>

    <div class="col-md-10">
      <div id="midCol" data-spy="affix" data-offset-top="300">
        <div>
          <h2>Bills</h2>
          <%= link_to 'Add Bill', new_bill_path %>
        </div>

        <%= @bills.each do |bill| %>
        <div class="well">
          <h3><%= bill.name %></h3>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Roommate</th>
              <th>Amount</th>
              <th>Due Date</th>
              <th>Paid</th>
            </tr>
            </thead>
            <tbody>
            <%= @user_bill_status.each do |status| %>
            <tr>
              <td>status.user.name</td>
              <td>status.bill.cost</td>
              <td>status.bill.due_date</td>
              <td>status.status</td>
            </tr>
            <% end %>
            </tbody>
          </table>
          <button>Edit Bill</button>
        </div>
        <% end %>

      </div>
    </div>

  </div>
</div>