<%= render "shared/navbars" %>
<div class="container">
  <div class="row">
    <%= render "shared/sidebar" %>

    <div class="col-md-8">
      <div id="midCol" data-spy="affix" data-offset-top="300">
        <div><h1>New Bill</h1></div>

        <%= simple_form_for @bill do |f| %>
            <%= f.input :name %>
            <%= f.input :cost %>
            <%= f.input :due_date %>
            <%= f.button :submit %>
        <% end %>

        <%= button_to 'Cancel', bills_path, class: 'btn btn-success btn-small'  %>

      </div>
    </div>

  </div>
</div>