<p id="notice"><%= notice %></p>

<h1>Household Users</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @household_users.each do |household_user| %>
      <tr>
        <td><%= link_to 'Show', household_user %></td>
        <td><%= link_to 'Edit', edit_household_user_path(household_user) %></td>
        <td><%= link_to 'Destroy', household_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Household User', new_household_user_path %>
