<h1>Invite a Roomate!</h1>

<%= form_for @household_user, :url => invite_send_household_users_path do |f| %>
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
 
  <p>
      <div class="actions">
    <%= f.button :submit %>
      </div>
    
    <%= link_to "send", invite_send_household_users_path%>
    
  </p>
<% end %>



Invite Roommates! <br />
<input id="email" name="email" placeholder="Enter email address" type="text" />


<%= link_to "send", invite_send_households_path%>

<%= link_to "send", new_household_user_path%>



<%= render 'form', household_user: @household_user %>



<%= link_to 'Back', households_path %>
