<%= render "shared/navbars" %>
<div class="container">
  <div class="row">
    <%= render "shared/sidebar" %>

    <div class="col-md-10">
      <div id="midCol" data-spy="affix" data-offset-top="300">
        <div>
          <h2>Chores</h2>
          <%= link_to 'New Chore', new_chore_path %>
        </div>

        <div class="well">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Requested By</th>
                <th>Due Date</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <% @chores.each do |chore| %>
                <% if chore.household_id == current_user.household_id %>
                  <tr>
                    <td><%= link_to chore.name, chore %></td>
                    <td><%= chore.user_id %></td>
                    <td><%= chore.deadline %></td>
                    <td><%= chore.status %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>

      </div>
    </div>

  </div>
</div>