<!DOCTYPE html>
  <html>
  <head>
    <title>Roommate Connect</title>
    <%= csrf_meta_tags %>
    <script src="https://use.fontawesome.com/a00f86850a.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag controller.controller_name, media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag controller.controller_name, media: 'all', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <style>
      body {
        padding-bottom: 20px;
      }
    </style>

    <script src="https://cdn.auth0.com/js/lock/10.4/lock.min.js"></script>
    <script>
      var lock = new Auth0Lock('KfaCYaaiiCAvVYJ3KVJyj3EZTzK8a0YY', 'cchoi.auth0.com', {
        auth: {
          redirectUrl: 'http://localhost:3000/auth/auth0/callback',
          responseType: 'code',
          params: {
            scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
          }
        },
        theme: {
          logo: '',
          primaryColor: '#5866f8'
        },
        languageDictionary: {
          title: "Roommate Connect"
        }
      });
    </script>

  </head>

    <%= yield %>
  </body>
</html>
