<%= render "shared/navbars" %>
<div class="container">
  <div class="row">
    <%= render "shared/sidebar" %>

    <div class="col-md-10">
      <div id="midCol" data-spy="affix" data-offset-top="300">
        <div><h1><%=current_user.household.name%></h1></div>
        <h3> Household Code: <%=current_user.household.code%></h3>

        <div class="well">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Role</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Name</td>
              <td>Email</td>
              <td>Head of Household</td>
            </tr>
            </tbody>
          </table>
          <%= link_to 'Invite Member', new_household_user_path %>

        </div>

      </div>
    </div>

  </div>
</div>